# Configuración del Servidor
SECRET_KEY=super-secret-key-change-in-production
FLASK_PORT=5000
FLASK_DEBUG=True

# Configuración SMTP de Gmail para verificación real (Opcional)
# Si se dejan en blanco, la app correrá en "Modo Desarrollo/Simulado"
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
